/*General Styling*/
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo-circle {
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 30px;
}

.container {
  width: 150px;
  padding: 8px;
  color: black;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 10px;
}

.nav-button {
  display: block;
  text-decoration: none;
  padding: 8px 0;
  text-align: center;
  font-size: 15px;
  color: black;
  background-color: white;
}

.content {
  text-align: left;
  padding: 20px;
}

.content h2 {
  margin-top: 0;
  display: flex;
  justify-content: left;
}

.nav-button.active-page {
  background-color: #0080ff;
  color: white;
}

/* 2. Form Styling */
.contact-form {
  width: 400px;
  margin: 40 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.form-row label {
  font-size: 15px;
  width: 200px;
  text-align: left;
  margin-top: 10px;
}

.form-row input {
  padding: 5px;
  border: 1px solid black;
  border-radius: 0px;
  width: 100%;
  align-items: center;
}

textarea {
  padding: 5px;
  border: 1px solid black;
  border-radius: 0px;
  width: 100%;
  align-items: center;
}

.content-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}
button {
  width: 20%;
  color: black;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  background-color: lightgray;
  margin-top: 5%;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
