/*General Styling*/
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 0px;
  margin: 0;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo-circle {
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 30px;
}

.container {
  width: 150px;
  padding: 8px;
  color: black;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 10px;
}

.nav-button {
  display: block;
  text-decoration: none;
  padding: 8px 0;
  text-align: center;
  font-size: 15px;
  color: black;
  background-color: white;
}

.sidebar a:first-child {
  border-bottom: 1px solid #000;
}

.content {
  text-align: left;
  padding: 20px;
}

.content h2 {
  margin-top: 0;
  display: flex;
  justify-content: left;
}

.nav-button.active-page {
  background-color: #0080ff; /* Bright blue */
  color: white !important;
}

/* 2. Form Styling */
.contact-form {
  width: 400px;
  margin: 40 auto;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.form-row label {
  font-size: 15px;
  width: 200px;
  text-align: right;
}

.form-row input,
.form-row textarea {
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box;
  align-items: center;
}

.submit-btn {
  width: 100px;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
